@import '../../../node_modules/gridle/sass/grid';

$settings : (
    context : 12,
    gutter-width : 10px,
    direction : ltr
);

@include gridle_setup( $settings );

@include gridle_register_default_mobile_first_states();

[class*="gr-"] {
    @include gridle_state( xs ) {
        @include gridle_grid( 12 );
    }
}

@include gridle_register_state( mobile, (
    max-width : 480px
) );

@include gridle_register_state( tablet, (
    min-width : 481px
) );

@include gridle_register_state( desktop, (
    min-width : 900px
) );

@include gridle_register_state( desktop-md, (
    min-width : 1025px
) );

@include gridle_generate_classes ( );

.container {
    max-width : 1200 - ($gutter * 2);
}